*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    padding: 10px 25px;
}


input{
    font-size: 25px;
    padding: 10px 10px;
    outline: none;
    
}

img.img {
    max-width: 190px;
}